{% extends 'home/base.html' %}

{% block content %}
  {% load staticfiles %}
  <section class="probootstrap-section probootstrap-section-colored">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left section-heading probootstrap-animate">
        <h1>English Foundation Course</h1>
      </div>
    </div>
  </div>
  </section>

  <section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block">
          <div class="probootstrap-text probootstrap-animate">
            <div class="text-uppercase probootstrap-uppercase">Featured Course</div>
            <h3>English Foundation Course</h3>
            <p>Open for all english enthusiasts, specially for the recent SSC passed students alongside with them who wants to be fluent in all 4 sections of English language.</p>
          </div>
          <div style="pointer-events: none;" class="probootstrap-image probootstrap-animate" style="background-image: url({% static 'home/img/slider_3.jpg' %})">
            <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  {% if selected_materials %}
    <div>
      <h5 style="margin-bottom: 30px;  color: #565656; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 20px; text-align: center;">Get Free Course Materials!</h5>
    </div>
  {% endif %}
  <div class="container">
    <div class="row">
      {% for material in selected_materials %}
        <div class="col-md-12 col-sm-12">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <table style="table-layout:fixed; width: 100%;">
            <tr>
              <td style="width: 70%; overflow: hidden; overflow: hidden; white-space: nowrap;">
                <h4 style="margin-bottom: 0px; text-align: left; font-size: 16px; font-family: 'Ubuntu', sans-serif; color: #727171; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> {{ material.title }} </h4>
              </td>
              <td style="width: 30%;">
                <a href="{{material.file.url}}">
                    <h5 style="margin-bottom: 0px; color: #41994e; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 14px;">View</h5>
                </a>
               
              </td>
            </tr>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if selected_materials.has_other_pages %}
      <div style="text-align: center;">
        <ul class="pagination">
          {% if selected_materials.has_previous %}
            <li><a href="?page={{ selected_materials.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for i in selected_materials.paginator.page_range %}
            {% if selected_materials.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if selected_materials.has_next %}
            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
    
    <div style="margin-bottom: 100px;"></div>
  
      
{% endblock %}