<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ILC &mdash; Implicit Learning Center</title>
    <meta name="description" content="ILC Coaching Center" />
    <meta name="keywords" content="ILC Coaching Center" />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'home/css/styles-merged.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/custom.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"
        ><i class="icon-cross"></i
      ></a>
      <form action="#">
        <input
          type="search"
          name="s"
          id="search"
          placeholder="Search a keyword and hit enter..."
        />
      </form>
    </div>

    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->

      <div class="probootstrap-header-top">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info"
            >
              <span><i class="icon-location2"></i>Shonoakhra,Dhaka</span>
              <span><i class="icon-phone2"></i>+88</span>
              <span><i class="icon-mail"></i>info@gmail.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-facebook2"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-instagram2"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-youtube"></i></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="probootstrap-search-icon js-probootstrap-search"
                    ><i class="icon-search"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical"></i></a>
            </div>
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a
              ><img
                src="{% static 'home/img/Implicit.png' %}"
                style="height: 70px; width: 150px; padding-top: 20px;"
            /></a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                  >Courses</a
                >
                <ul class="dropdown-menu">
                  <li><a href="{% url 'course_view_arts' %}">Arts</a></li>
                  <li><a href="{% url 'course_view_science' %}">Science</a></li>
                  <li>
                    <a href="{% url 'course_view_commerce' %}"
                      >Business Studies</a
                    >
                  </li>
                  <li>
                    <a href="{% url 'course_view_english' %}"
                      >English Foundation course</a
                    >
                  </li>
                </ul>
              </li>

              <li><a href="{% url 'teachers' %}">Teachers</a></li>
              <li><a href="{% url 'events' %}">Events</a></li>
              <li><a href="{% url 'notice' %}">Notice</a></li>
              <li>
                <a href="{% url 'photologue:pl-gallery-archive' %}">Gallery</a>
              </li>
              <li><a href="{% url 'bloglist' %}">Blog</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %} {% endblock content %}

      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>About The ILC</h3>
                <p>
                  Implicit Learning Centre (ILC) is one of the most well known
                  shadow institutions for HSC academic students in Dania, Dhaka.
                  It's been a journey of more than 10 years. Since 2008 till
                  now, a good number of our students had been able to grab their
                  seats in many public universities including DU, Jnu, JU and so
                  on.
                </p>
                <h3>Social</h3>
                <ul class="probootstrap-footer-social">
                  <li>
                    <a href="#"><i class="icon-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-github"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-md-push-1">
              <div class="probootstrap-footer-widget">
                <h3>Links</h3>
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'course_view_science' %}">Courses</a></li>
                  <li><a href="{% url 'teachers' %}">Teachers</a></li>
                  <li><a href="{% url 'events' %}">Events</a></li>
                  <li><a href="{% url 'notice' %}">Notice</a></li>
                  <li>
                    <a href="{% url 'photologue:pl-gallery-archive' %}"
                      >Gallery</a
                    >
                  </li>
                  <li><a href="{% url 'bloglist' %}">Blog</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li>
                    <i class="icon-location2"></i>
                    <span>Shoniakhra, Dhaka</span>
                  </li>
                  <li><i class="icon-mail"></i><span>info@gmail.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>
                  &copy; 2018 <a href="https://uicookies.com/">ILC</a>. All
                  Rights Reserved. Designed &amp; Developed with
                  <i class="icon icon-heart"></i> by
                  <a href="https://uicookies.com/">ILC08.com</a>
                </p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p>
                  <a href="#" class="js-backtotop"
                    >Back to top <i class="icon-arrow-long-up"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- END wrapper -->

    <script src="{% static 'home/js/scripts.min.js' %}"></script>
    <script src="{% static 'home/js/main.min.js' %}"></script>
    <script src="{% static 'home/js/custom.js' %}"></script>

    {% block style %}
    <style></style>
    {% endblock style %}
  </body>
</html>
