<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
      
    <link rel="stylesheet" href="{% static 'home/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      <div class="probootstrap-header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
              <span><i class="icon-location2"></i>Shonoakhra,Dhaka</span>
              <span><i class="icon-phone2"></i>+88</span>
              <span><i class="icon-mail"></i>info@gmail.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
                <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical "></i></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a><img src="{% static 'home/img/Implicit.png' %}" style="height: 70px; width: 150px; padding-top: 20px"></a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Courses</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'course_view_science' %}">Science</a></li>
                  <li><a href="{% url 'course_view_commerce' %}">Commerce</a></li>
                  <li><a href="{% url 'course_view_arts' %}">Arts</a></li>
                </ul>
              </li>
            
              <li><a href="{% url 'teachers' %}">Teachers</a></li>
              <li><a href="{% url 'events' %}">Events</a></li>
              <li><a href="{% url 'photologue:pl-gallery-archive' %}">Gallery</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
        {% block content %}

      {% endblock content %}
    </div>
    
      
    <!-- END wrapper -->
    

    <script src="{% static 'home/js/scripts.min.js' %}"></script>
    <script src="{% static 'home/js/main.min.js' %}"></script>
    <script src="{% static 'home/js/custom.js' %}"></script>

    {% block style %}

    {% endblock style %}

  </body>
</html>